body{
  height: 100%;
  padding:0;
   margin: 0;
  background-color:  #e8f1f2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#home{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-sizing: border-box;
  color:#20a39e;
  height: 10%;
  background-color:#faf0ca; 
  padding: 20px;
  margin: 0;
  text-align: center;
 
 }
   
 nav {
   position: fixed;
   top: 10%;
   left: 0;
   right: 0;
   z-index: 9;
     height: 10%;
     box-sizing: border-box;
     border-top: 10px solid;
     border-color:#20a39e;
     background-color:#faf0ca;
     display: flex;
     justify-content: space-around;
   }
   
  
   nav li {
     display: inline-block;
      list-style: none;
      margin: 0;
      
   }
   
   nav a {
     color: #20a39e;
     display: block;
     padding: 5px 10px 5px 10px;
     text-decoration: none;
     margin: 0;
   }
   
   nav a:hover{ 
     background-color:lavender
   }
  .scroll{
    position:absolute;
    top:20%;
  }
  .sebit{
    position: relative;

    left: 50%;
     transform:translateX(-50%);
     width:80%;
     height: auto;
    border: 10px solid #ddd;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 15px 25px black;
  }
  .met7arik{
    width: 100%;
    display: flex;
    animation: t7arak 10s infinite  linear;
  }
  img{width: 100%;}

  @keyframes t7arak{
    0%{transform: translateX(0);}
    25%{transform: translateX(0);}
    30%{transform: translateX(-100%);}
    50%{transform: translateX(-100%);}
    55%{transform: translateX(-200%);}
    75%{transform: translateX(-200%);}
    80%{transform: translateX(-300%);}
    100%{transform: translateX(-300%);}
  }
 
footer {
  width:100%;

  background-color: rgb(2, 2, 2);
  color:rgb(219, 206, 206);
  margin:0px;
  border-top: 10px ;
  border-color: rgb(219, 206, 206);
  box-sizing: border-box;
  
}

.social-media ul
 {
  list-style: none;
 
}

.social-media li {
  display: inline-block;
}

.social-media a {
  color: rgb(219, 206, 206);
  display: block;
  padding: 10px;
  text-decoration: none;
}

.social-media-img{
  width: 40px;
  aspect-ratio:1;
  background-color:rgb(219, 206, 206);
  border-radius:55%;
 
}

#yt:hover {
  background-color:red;
}

#tw:hover{
  background-color: rgb(29,161,242);
}
#insta:hover {
  background-color: rgb(248,85,16);
}

  #fb:hover,#in:hover{
  background-color:blue;
}
.copyright {
  background-color: rgb(219, 206, 206);
  text-align: center;
  margin: 0;
}

.copyright p {
  padding: 10px;
  color: rgb(252, 248, 248);
  margin: 0px;
}

 